services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:18.1
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: postgres
      POSTGRES_DB: test
      PGDATA: /var/lib/postgresql/data/PGDATA
      TZ: Asia/Tashkent
    ports:
      - "5432:5432"
