spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  jpa:
    show-sql: true
    properties:
      hibernate:format_sql: true
      hibernate:use_sql_comments: true

  redis:
    host: localhost
    port: 6379
    timeout: 2000

  cache:
    type: redis

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.cache: TRACE
    org.springframework.data.redis: DEBUG
    io.lettuce.core: DEBUG

